.markdownEditor {
  background: #151d2d;
  color: #9aadbf;
  font-weight: 500;
}

.form-group {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.markdownEditorText {
  font-family: 'VT323', monospace;
  font-size: 20px;
  width: 100%;
  background: transparent;
  font-weight: 500;
  color: #9aadbf;
  height: 100vh;
  border: none;
  resize: none;
}

@media (min-width: 400px) {
  .markdownEditorText {
    height: 100%;
  }
}

#markdownEditorField {
  float: right;
}
textarea:focus {
  outline: none;
}
